body {
    margin: 0;
    padding: 0;
}
* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

/* HEADER START: */
header {
    color: white;
    background-color: #143636;
}
    .header__wrapper {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: auto;
    }
        .header__wrapper--logo{
            display: flex;
            justify-content: center;
            align-items: center;
        }

    .header__items {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
        .header__item {
            cursor: pointer;
            border-style: hidden;
            border-bottom: 2px solid transparent;
        }
            .header__item:hover{
                border-style:initial;
                border-bottom: 2px solid white;
            }
            .header__item > a {
                text-decoration: none;
                color:  white;
            }
    .logo {
        cursor: pointer;
    }
        .logo > a{
            text-decoration: none;
            color: white;
        }

/* HEADER END*/

/* MAIN START */
main {
    color: #454D2C;
}
/* MAIN END */

/* ORDER START: */
.order {
    display: flex;
    flex-direction: column;
}
    .order > h2 {
        text-align: center;
        padding-top: 40px;
        margin: 0;
    }
    .order__invoice {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .order__items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .order__details {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 40px;
    }
caption {
    font-size: 20px;
    padding: 10px;
}

/* ORDER END: */

/* CARTPRODUCT START: */
    
.cartProductMain {
    display: flex;
    flex-direction: row;
}
    .cartProducts {
        display: flex;
        flex-direction: column;
        padding-left: 5px;
        margin-top: 5%;
        width: 70%;
        align-items:center;
    }
    .cartProductHr {
        width: 65%;
    }
        .cartProduct {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            width: 65%;
        }
            .cartProduct__details {
                text-align: center;
                display: flex;
                width: 75%;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                flex-wrap: wrap;
            }
                .input-container{
                    width: 100px;
                    display: flex;
                    justify-content: space-between;
                }
                .cartProduct__details--productQuantityInput {
                    width: 40%;
                    text-align: center;
                    border: 1px solid black;
                    border-radius: 5px;
                    margin: 0 2px;
                    height: 25px;
                    line-height: 25px;
                }
                    input{
                        -webkit-appearance: none;
                        border: none;
                        text-align: center;
                    }
                        input:focus{
                            outline: none;
                        }
                        input::-webkit-outer-spin-button,
                        input::-webkit-inner-spin-button{
                            -webkit-appearance: none;
                            margin: 0;
                        }
                        input[type=number] {
                            -moz-appearance:textfield; /* Firefox */
                        }
        
                .cartProduct__details--productQuantityInput > * {
                    width: 25px;
                }
        
                .decr, .incr {
                    width: 20%;
                    border: 1px solid black;
                    border-radius: 5px;
                    height: 25px;
                    line-height: 25px;
                    cursor: pointer;
                }
        
                .incr:hover {
                    background-color: #143636;
                    color: white;
                }
        
                .decr:hover {
                    background-color: #143636;
                    color: white;
                }
        
                .cartProduct__details--deleteItem{
                    font-size: 12px;
                    padding: 5px;
                    border: 1px solid black;
                    margin: 5px 0;
                    border-radius: 5px;
                }
                
            .cartProduct__image {
                width: 20%;
                min-width: 100px;
            }
                .cartProduct__image--img {
                    width: 70%;
                }
        
    .payment {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 5%;
        margin-right: 50px;
        border: 2px solid #5C663A;
        max-height: 600px;
        word-wrap:break-word;
        
    }
        .payment > * {
            width: 70%;
            text-align: center;
            color: black;
        }
        .payment > p > a {
            color: black;
        }
        .payment__payButton {
            padding: 10px;
            border-radius: 10px;
            border: 1px solid black;
            width: 70%;
        }
        .payment__total {
            padding: 10px;
            background-color: #143636;
            color: white;
        }
        .payment > a {
            text-decoration: underline;
        }
        .payment__payButton:hover, .cartProduct__details--deleteItem:hover {
            background-color: #143636;
            color: white;
            cursor: pointer;
        }

/* CARTPRODUCT END: */

/* SHOP START: */
h2 {
    text-align: center;
}
.shopMain{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shopbarWrapper {
    display: flex;
    justify-content: center;
}
.categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    background-color: #224444c0;
    padding: 5px;
    margin: 0;
    width: 100%;
}
    .category {
        padding: 5px;
        border-radius: 5px;
        margin: 0 5px;
        cursor: pointer;
        border-style: hidden;
        border: 1px solid transparent;
        color: white;
    }
    .category:hover {
        border-style:inherit;
        border: 1px solid white;
    }

.shopbar {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    list-style: none;
    gap: 30px;
    text-align: center;
    margin-top: 5%;
    width: 80%;
}
    .shopbar__item {
        width: 25%;
        min-width: 200px;
        background-color:#143636;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        color: white;
    }
        .shopbar__item--img {
            width: 100%;
            height: 60%;
            min-height: 250px;
            cursor: pointer;
            background-size: cover;
            background-position: center;
        }

        .shopbar__item--details{
            height: 40%;
            overflow: hidden;
        }

        .shopbar__item--details--name {
            font-size: 20px;
            padding: 5px;
        }
        .shopbar__item--details--desc {
            font-size: 12px;
        }
        .shopbar__item--details--cartPriceBar{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
        }
            .shopbar__item--details--cartPriceBar-price{
                padding: 5px;
            }
            .shopbar__item--details--cartPriceBar-button{
                border-style: hidden;
                border: 1px solid transparent;
                padding: 5px;
                border-radius: 5px;
                cursor: pointer;
            }
            .shopbar__item--details--cartPriceBar-button:hover{
                border-style:inherit;
                border: 1px solid white;
            }
/* SHOP END */

/* PRODUCT START: */
.productWrapper{
    display: flex;
    flex-direction: row;
    width: 60%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
}

    .productWrapper__image{
        display: flex;
        justify-content: center;
        width: 50%;
    }
        .productWrapper__image--img{
            width: 90%;
            border-radius: 5px;
        }
    .productWrapper__details{
        display: flex;
        width: 40%;
        flex-direction: column;
        align-items: center;
        text-align:left;
        padding: 5px;
    }
        .productWrapper__details--button{
            border: 1px solid #143636;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
            background-color: transparent;
        }
        .productWrapper__details--button:hover{
            color: white;
            background-color: #143636;
        }
/* PRODUCT END: */

/* FOOTER START: */
    footer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        padding: 20px 0;
        background-color: #143636;
        width: 100%;
        height: 100%;
        margin-top: 5%;
        color: white;
    }
        footer > ul {
            list-style: none;
        }
/* FOOTER END: */
    
@media only screen and (max-width:1000px) {
    footer{
        flex-direction: column;
    }
    .cartProductMain {
        flex-direction: column-reverse;
        align-items: center;
    }
        .cartProduct__image {
            width: 20%;
        }
            .cartProduct__image--img {
                width: 100%;
            }
        .cartProduct__details{
            flex-direction: column;
        }
    .payment {
        margin: 20px 0;
        width: 70%;
    }
    .productWrapper{
        flex-direction: column;
        width: 80%;
    }
        .productWrapper__image{
            width: 60%;
        }
        .productWrapper__details{
            width: 60%;
        }
}